 
<div class="container-fluid p-5 bg-warning text-white text-center" style="margin-top: 100px;  background-image: linear-gradient(to right, rgb(39, 123, 165),rgb(151, 211, 219),rgb(175, 219, 231),rgb(62, 164, 183));">
    <h1 style="color: rgb(19, 58, 82); font-family: cursive;"> Vedio Gallary</h1>
  </div>
  
<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xhLmgYgi9dI?si=Y7g8ULdn_engQFU9" title="YouTube video player" allowfullscreen style="width:400px; height: 315px;border:4px solid rgb(66, 128, 155);"></iframe>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/JKsmuymEH50?si=ojI2nust9CTM8VsM" title="YouTube video player" allowfullscreen style="width:400px; height: 315px;border:4px solid rgb(66, 128, 155);"></iframe>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/C8JokG3JhqU?si=GIQdyyXOQ7_de5VT" title="YouTube video player" allowfullscreen style="width:400px; height: 315px;border:4px solid rgb(66, 128, 155);"></iframe>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/3SzazN2OrsQ?si=QB9uyHsPeddT5wNe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="width:400px; height: 315px;border:4px solid rgb(66, 128, 155);"></iframe>      
      </div>
    </div>
    <div class="col-sm-4">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/r9Y6XMko9Jc?si=E3UpUPwdm33KNp5B" title="YouTube video player" frameborder="0"  controll="autoplay"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="width:400px; height: 315px;border:4px solid rgb(66, 128, 155);"></iframe>  
          </div>
    </div>
    <div class="col-sm-4">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/rkRyetRMrjQ?si=QGPjTvqgAFYkR5pJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="width:400px; height: 315px;border:4px solid rgb(66, 128, 155);"></iframe>   
         </div>
    </div>
  </div>
</div>