<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- <link href="images/favicon.ico" rel="icon">
  	<link href="images/favicon.ico" rel="apple-touch-icon"> -->
  </head>
  <body>
    <div class="center" style="border: 1px solid black; width: 900px; background-image: linear-gradient(to right, rgba(27, 28, 30, 0.12), rgba(178, 214, 255, 0.12));; ">
      <h1  style="font-family: monospace; color: rgb(36, 96, 152)">Contact </h1>
      <form action="https://formsubmit.co/279b7a44be9c5fd305701591c8ffa997" method="POST">

        <div class="txt_field">
          <input type="text" name="name" id="name" required>
          <span></span>
          <label>Full Name</label>
        </div>

        <div class="txt_field">
            <input type="text" name="email" id="email" required>
            <span></span>
            <label>Email</label>
          </div>

        <div class="txt_field">
          <input type="text" name="message" id="message" required>
          <span></span>
          <label>Message</label>
        </div>

        <div class="pass" style="width: 25px;" >
            <input class="pass" type="reset" value="Reset" style="color: black; ">
        </div>

        <input type="submit" value="Submit">
        <input type="hidden" name="_next" value="">
	<input type="hidden" name="_template" value="table">

        <div class="homePage_link">
        <a href="#"> <<-Back to Home page</a>
        </div>

      </form>
    </div>


    <form action="pragatikokare32@gmail.com" method="POST">
        <input type="text" name="name" required>
        <input type="email" name="email" required>
        <button type="submit">Send</button>
   </form>
  </body>
</html>